<title>Aether/Hub</title>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="looks.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="icon" href="favicon.ico?v=1.1">

<body>
    <nav class="read-nav">
        <a href="/" class="read-nav-logo">                    
                <img src="https://i.ibb.co/4ZcLKjY/borderless.png" alt="">
        </a>
        <div class="read-nav-nav" id="nav">
            <a class="/"></a>
        </div>

        <a href="/logout" class="read-nav-btn logout">
            <button>logout</button>
        </a>
    </nav>

    <div class="user-body">
        <div class="user-wrap">
            <div class="user-head">
                <div class="user-banner-a">
                    <div>
                        <button class="pfp-edit" id="pfp-edit" onclick="pfpPop()">
                            <div>
                                <span class="material-symbols-outlined">edit</span>
                            </div>
                            <img src="<%= user.pfp %>" alt="">
                        </button>
                    </div>
                    <div class="user-info">
                        <div class="info-names">
                            <div>
                                <h1><%= user.tag %></h1>
                            </div>
                            <div>
                                <h2>@<%= user.name %></h2>
                            </div>
                        </div>
                        <div class="disc">
                            <form action="/user/disc" method="POST">
                                <input type="text" name="disc" id="disc" placeholder="<%= user.disc %>">
                                <button type="submit">Set</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="user-banner-b">
                    <div class="sec-info">
                        <h2><%= user.email %></h2>
                        <% if(user.isDev) {%>
                            <h1>Developer</h1>
                        <% } else { %>
                            <h1>Member</h1>
                        <% } %>
                    </div>
                    <div>
                        <button onclick="Pop()">Edit Profile</button>
                    </div>
                </div>
            </div>
    
    
            <div class="user-torso">
                <div class="custom-SCs">
                    <div class="sc-t"><h1>Showcases</h1></div>
                    <div><h1>Placeholder</h1></div>
                </div>
                <div class="Fl">
                    <h1>Friendlist</h1>
    
                    <div class="Fl-list">
                        <% if(Fl.length != null) { %>
                            <% for (let i = 0; i < Fl.length; i++) { %>
                                <form action="/friend" method="POST" name="space_name">
                                <input type = "hidden" name = "Fid" value = "<%= Fl[i].Fid %>" />
                                <button type="submit"><img src="<%= Fl[i].pfp %>" alt="https://media.tenor.com/UnFx-k_lSckAAAAM/amalie-steiness.gif"><%= Fl[i].tag %></button>
                                </form>
                            <% } %>
                        <% } %>
    
                        
                    </div>
                </div>
            </div>

        </div>

    </div>
    
    <div class="pfp-changer" id="pfpPop">
        <div>
            <div class="pop-bc">
            </div>
            
            <div class="pop-input">
                <div class="usredit">
                    <div class="usredit-bar">
                        <button onclick="showSnip(0)">User Info</button>
                        <button onclick="showSnip(1)">Picture</button>
                        <button onclick="showSnip(2)">Membership</button>
                        <button onclick="showSnip(3)">Settings</button>
                        <button onclick="showSnip(4)">Account</button>
                        <p id="editOn" style=" display: none;">0</p>
                    </div>
                    <div class="usredit-right changer" id="changer">
                        <h1>Change your Picture</h1>
                        <img src="<%= user.pfp %>" alt="">
                        <form class="img">
                            <div>
                                <label for="newpfp">Enter your picture url                             
                                    <span class="tooltip">
                                        <span class="tooltiptext">Upload your picture on a img hosting server and copy/paste the direct link in here</span>
                                        <span class="material-symbols-outlined smoll">info</span>
                                    </span>:
                                </label>
                                <input type="text" name="newpfp" id="newpfp">
                                <input type="file" id="pfpImg" name="image" accept="image/*">
                            </div>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                    <div class="usredit-right edit-info" id="editInfo">
                        <h1>Edit your Account Info</h1>

                        <div class="info-input">
                            <div>
                                <h2>Change Your tag</h2>
                                <form action="/user/tag" method="POST">
                                    <input type="text" name="disc" id="disc" placeholder="<%= user.tag %>" required>
                                    <button type="submit">Set</button>
                                </form>
                            </div>
                            <div>
                                <h2>Change Username</h2>
                                <form action="" method="POST">
                                    <input type="text" name="disc" id="disc" placeholder="<%= user.name %>" required>
                                    <button type="submit">Set</button>
                                </form>
                            </div>
                            <div>
                                <h2>change colors</h2>
                                <form action="" method="POST">
                                    <input type="text" name="disc" id="disc" placeholder="" required>
                                    <button type="submit">Set</button>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="usredit-right edit-memb" id="editMemb">
                            <h1>change your member Status</h1>
                            <% if(user.isDev) {%>
                                <h1>Status: Developer</h1>
                            <% } else { %>
                                <h1>Status: Member</h1>
                            <% } %>
                    </div>
                    <div class="usredit-right edit-sett" id="editSett">
                        <h1>Your Settings</h1>
                    </div>
                    <div class="usredit-right edit-acc" id="editAcc">
                        <h1>Your Account</h1>
                    </div>



                    <button class="close-pfp-changer" onclick="xPop()">
                        <span class="material-symbols-outlined">close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>


        function Pop() {
            document.getElementById('pfpPop').style.display = 'flex';
            document.getElementById('pfp-edit').style.display = 'none';
            showSnip(0);
        }

        function pfpPop() {
            document.getElementById('pfpPop').style.display = 'flex';
            document.getElementById('pfp-edit').style.display = 'none';
            showSnip(1);
        }

        function xPop() {
            document.getElementById('pfpPop').style.display = 'none';
            document.getElementById('pfp-edit').style.display = 'flex';
        }

        function showSnip(vel) {
            const pages = [ "editInfo", "changer", "editMemb", "editSett", "editAcc"]
            const pageRn = document.getElementById('editOn').innerHTML

            console.log(pages[pageRn]);
            document.getElementById(pages[pageRn]).style.display = 'none'
            document.getElementById(pages[vel]).style.display = 'flex'
            document.getElementById('editOn').innerHTML = vel
        }
        
        document.querySelector('.img').addEventListener('submit', async (e) => {
            
            e.preventDefault();


            console.log(document.getElementById('pfpImg').files[0]);
            const imgFile = document.getElementById('pfpImg').files[0];
            const formData = new FormData();
            
            console.log(imgFile)

            const newpfp = document.getElementById('newpfp').value;

            if(newpfp && newpfp.trim() !== ''){
                console.log("new pfp string ready to fetch")
                fetch('/user/pfp', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({ newpfp: newpfp})
                }) 
                .then(res => res.json())
                .then(data => {
                })


            }else if(imgFile != null){
            console.log("img file ready to fetch")    
            formData.append('image', imgFile);
            await fastFatch(formData)
            }

            await delay(50)
            xPop()
            await location.reload()
        });

        function fastFatch(data) {
            fetch('/user/pfp/upload', {
                method: 'POST',
                body: data,
            }) 
                .then(res => res.json())
                .then(data => {
            })
        }

        function delay(milliseconds){
            return new Promise(resolve => {
            setTimeout(resolve, milliseconds);
        });
}
        

    </script>
</body>
