<title>Aether/Hub</title>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="looks.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="icon" href="favicon.ico?v=1.1">

<body>
    <nav class="read-nav">
        <a href="/" class="read-nav-logo">                    
                <img src="https://i.ibb.co/4ZcLKjY/borderless.png" alt="">
        </a>
        <div class="read-nav-nav" id="nav">
            <a class="/"></a>
        </div>

        <a href="/logout" class="read-nav-btn logout">
            <button>logout</button>
        </a>
    </nav>

    <div class="user-body">
        <div class="user-head">
            <div class="user-banner-a">
                <div>
                    <button class="pfp-edit" id="pfp-edit" onclick="pfpPop()">
                        <div>
                            <span class="material-symbols-outlined">edit</span>
                        </div>
                        <img src="<%= user.pfp %>" alt="">
                    </button>
                </div>
                <div class="user-info">
                    <div class="info-names">
                        <div>
                            <h1><%= user.tag %></h1>
                            -
                            <% if(user.isDev) {%>
                                <h1>Developer</h1>
                            <% } else { %>
                                <h1>Member</h1>
                            <% } %>
                        </div>
                        <div>
                            <h2>@<%= user.name %></h2>
                        </div>
                    </div>
                    <div class="disc">
                        <form action="/user/disc" method="POST">
                            <input type="text" name="disc" id="disc" placeholder="<%= user.disc %>">
                            <button type="submit">Set</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="user-banner-b">
                <div class="sec-info">
                    <h2><%= user.email %></h2>
                </div>
                <div>
                    <button>Edit Profile</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="pfp-changer" id="pfpPop">
        <div>
            <div class="pop-bc">
            </div>
            <div class="pop-input">
                <div class="usredit">
                    <div class="usredit-bar">
                        <button>User Info</button>
                        <button>Profile Picture</button>
                        <button>Settings</button>
                    </div>
                    <div class="changer" id="changer">
                        <h1>Change your Picture</h1>
                        <button class="close-pfp-changer" onclick="xpfpPop()">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                        <img src="<%= user.pfp %>" alt="">
                        <form action="/user/pfp" method="POST">
                            <div>
                                <label for="newpfp">Enter your picture url                             
                                    <span class="tooltip">
                                        <span class="tooltiptext">Upload your picture on a img hosting server and copy/paste the direct link in here</span>
                                        <span class="material-symbols-outlined smoll">info</span>
                                    </span>:
                                </label>
                                <input type="text" name="newpfp" id="newpfp" required>
                            </div>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        function pfpPop() {
            document.getElementById('pfpPop').style.display = 'flex';
            document.getElementById('pfp-edit').style.display = 'none';
        }

        function xpfpPop() {
            document.getElementById('pfpPop').style.display = 'none';
            document.getElementById('pfp-edit').style.display = 'flex';
        }


        
        document.querySelector('.img').addEventListener('submit', (e) => {
            
            e.preventDefault();
            
            const imgFile = document.getElementById('pfpImg').files[0];
            const formData = new FormData();
            
            console.log(imgFile)

            const newpfp = document.getElementById('newpfp').value;

            if(newpfp && newpfp.trim() !== ''){
                console.log("new pfp string ready to fetch")

                fetch('/user/pfp', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({ newpfp: newpfp})
                }) 
                .then(res => res.json())
                .then(data => {
                })
                return;
            }else if(imgFile != null){
                console.log("img file ready to fetch")

                
                formData.append('image', imgFile);

                fetch('/user/pfp/upload', {
                    method: 'POST',
                    body: formData,
                }) 
                .then(res => res.json())
                .then(data => {
              })
                return;

            }

            
        });


    </script>
</body>
